/* .header {
  display: flex;
  justify-content: space-between;
} */
.header {
  display: flex;
  position: fixed;
}
.logo {
  background: url("src/assets/staycation-images/pink-stayca-logo.png") no-repeat;
  background-size: 90%;
  width: 350px;
  height: 180px;
  margin-left: 20px;
  margin-top: 20px;
}
.menu {
  width: 35px;
  height: 2px;
  background-color: black;
  margin-left: 10px;
}
.nav-items {
  list-style: none;
}

/* menu {
  font-family: "Material Icons";
  position: absolute;
  right: 0;
} */

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
  }
  .link {
    margin-top: 0;
    margin-left: 10px;
  }
  /* .menu-links {
    display: none;
  } */
  /* .menu {
    display: none;
  } */
}
@media only screen and (min-width: 992 px) {
}
