.list {
    background-color: blue;
    list-style: none;
    position: absolute;
    right: -10px;
    padding: 5px;
    display: none;
    z-index: 1;

}

.link {
    text-decoration: none;
}

.nav {
    padding: 10px;
}
.menu{
    font-family: 'Material Icons';
    position: absolute;
    right: 0;

}

.menu:hover .list {
 display: block;
}