<header class="header">
  <h1 class="logo"></h1>
  <div class="burger">
    <div (click)="toggleMenu()"><i class="fas fa-bars"></i></div>
    <nav class="nav">
      <ul class="nav-items" *ngIf="showMenu === true">
        <li class="link"><a routerLink="/home" class="color">Home</a></li>
        <li class="link">
          <a routerLink="/favorites" class="color">Favorites</a>
        </li>
        <li class="link"><a routerLink="/about" class="color">About</a></li>
      </ul>
    </nav>
  </div>
</header>