<app-header></app-header>
<div class="about-background">
  <div class="about-div">
    <h1 class="about">About the creators:</h1>
    <div class="grid">
      <div class="creator">
        <div class="photo erin"></div>
        <p class="name">Erin Breen:</p>
        <p class="description">I enjoyed searching for a reliable API source and being able to selectively pick the high
          rating places we
          wanted to incorporate into our project!</p>
        <a href="https://www.linkedin.com/in/breenerin/" class="link">Linkedin</a>
        <a href="https://github.com/breen1em" class="link">Github</a>
      </div>

      <div class="creator">
        <div class="photo ajla"></div>
        <p class="name">Ajla Johnson:</p>
        <p class="description">I enjoyed working with the group to create this
          unique app.
          Troubleshooting and building the functionality was a challenge but I'm proud of how hard we worked as a team
          to accomplish all of the challenging tasks.</p>
        <a href="https://www.linkedin.com/in/ajlajohnson" class="link">Linkedin</a>
        <a href="https://www.linkedin.com/in/ajlajohnson" class="link">Github</a>
      </div>

      <div class="creator">
        <div class="photo stephanie"></div>
        <p class="name">Stephanie Wheatley:</p>
        <p class="description">STEPHANIES STATEMENT HERE</p>
        <a href="https://www.linkedin.com/in/gingerfitz/" class="link">Linkedin</a>
      </div>

      <div class="creator">
        <div class="photo bryan"></div>
        <p class="name">Bryan Brown</p>
        <p class="description">I really enjoyed being able to work with our own database that we created as well as the
          API to gather the
          information we needed. Although troubleshooting was a challenge, I enjoyed problem solving.</p>
        <a href="https://www.linkedin.com/in/bryan-brown-761a111b2" class="link">Linkedin</a>
        <a href="https://github.com/bryanmichaelbrown" class="link">Github</a>
      </div>
    </div>
  </div>
</div>