.background-image {
  height: 100vh;
  background-size: cover;
  width: auto;
  background-image: url("src/assets/staycation-images/opening-background.jpg");
  background-position: 50% 50%;
  overflow-y: scroll;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 13%;
  overflow-y: scroll;
}

.clicked {
  background-color: #930606;
}

.city {
  align-items: center;
  font-size: 45px;
  color: #440000;
  list-style-type: none;
  text-shadow: 1px 1px #237970;
  text-align: center;
}

.city-q {
  display: flex;
}

.detriot-btn {
  background: url(src/assets/staycation-images/detriot.png) no-repeat;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 200px;
  background-size: 100%;
}

.gr-btn {
  background: url(src/assets/staycation-images/grand-rapids.png) no-repeat;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 200px;
  background-size: 100%;
}

button,
p {
  padding: 10px;
  margin: 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-radius: 50%;
  width: 300px;
  font-size: 30px;
  color: #440000;
  list-style-type: none;
  text-shadow: 1px 1px #237970 ;
}

.detroit, .grand-rapids {
  padding: 10px;
  margin: 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-radius: 50%;
  width: 300px;
  font-size: 30px;
  color: #237970;
  list-style-type: none;
  text-shadow: 1px 1px #440000;
}

.questions1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timebtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tod {
  text-align: center;
}

.bar {
  background: url("src/assets/staycation-images/interests/bar.png") no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;
}

.sports {
  background: url("src/assets/staycation-images/interests/sports.png") no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;
}

.nightlife {
  background: url("src/assets/staycation-images/interests/nightlife.png")
    no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;
}

.creative {
  background: url("src/assets/staycation-images/interests/creative.png")
    no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;
}

.education {
  background: url("src/assets/staycation-images/interests/education.png")
    no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;
}

.comedy {
  background: url("src/assets/staycation-images/interests/comedy.png") no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;
}

.recreation {
  background: url("src/assets/staycation-images/interests/recreation.png")
    no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;
}

.music {
  background: url("src/assets/staycation-images/interests/music.png") no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;
}

.interest-btn {
  flex: 1;
}

.atmosphere {
  display: flex;
  flex-direction: column;
}

.empty {
  width: 80px;
  height: 80px;
}

.highlight {
  color: gold;
}

@media only screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  /* .question {
  .list {
    display: none;
  }
  .links {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .interest-btn {
    flex: 1;
  }
  /* .empty {
    width: 80px;
    height: 80px;
    background-size: 100%;
  } */
}
