.background-image {
  height: 100vh;
  background-size: cover;
  width: auto;
  background-image: url("src/assets/staycation-images/opening-background.jpg");
  background-position: 50% 50%;
  overflow-y: scroll;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 13%;
  overflow-y: scroll;
}

.clicked {
  background-color: #930606;
}

.city {
  font-size: 45px;
  color: #440000;
  list-style-type: none;
  text-shadow: 1px 1px #237970;
  text-align: center;
  padding-top: 40%;
  
}

.city-q {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 30%; */
}

.detriot-btn {
  background: url(src/assets/staycation-images/detriot.png) no-repeat;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 200px;
  background-size: 100%;
}

.gr-btn {
  background: url(src/assets/staycation-images/grand-rapids.png) no-repeat;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 200px;
  background-size: 100%;
}

button,
p {
  padding: 10px;
  margin: 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-radius: 50%;
  width: 300px;
  font-size: 30px;
  color: #440000;
  list-style-type: none;
  text-shadow: 1px 1px #237970 ;
}

.detroit, .grand-rapids {
  padding: 10px;
  margin: 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-radius: 50%;
  width: 300px;
  font-size: 30px;
  color: #237970;
  list-style-type: none;
  text-shadow: 1px 1px #440000;
}

.questions1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timebtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 30%;
}

.tod {
  text-align: center;
  padding-top: 40%;

}

.atmosphere {
  padding-top: 20%;
}

.occasion {
  padding-top: 40%;
  text-align: center;
}

.interests {
  padding-top: 60%;
  text-align: center;
}

.question {
  padding-top: 10%;
  text-align :center;
}

/* .kid {
  font-size: 20px;
} */
/* 
.big, .kid, input {
  height: 50px;
  width: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

.fa-square:before {
  height: 50px;
  width: 50px;
}

.bar {
  background: url("src/assets/staycation-images/interests/bar.png") no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;

}

.sports {
  background: url("src/assets/staycation-images/interests/sports.png") no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;
}

.nightlife {
  background: url("src/assets/staycation-images/interests/nightlife.png")
    no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;

}

.creative {
  background: url("src/assets/staycation-images/interests/creative.png")
    no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;

}

.education {
  background: url("src/assets/staycation-images/interests/education.png")
    no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;

}

.comedy {
  background: url("src/assets/staycation-images/interests/comedy.png") no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;

}

.recreation {
  background: url("src/assets/staycation-images/interests/recreation.png")
    no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;

}

.music {
  background: url("src/assets/staycation-images/interests/music.png") no-repeat;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
  background-size: 100%;

}

.interest-btn {
  flex: 1;
}

.atmosphere {
  display: flex;
  flex-direction: column;
}

.empty {
  width: 80px;
  height: 80px;
}

.highlight {
  color: gold;
}

@media only screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .city {
    padding-top: 20%;
  }

  .city-q {
    flex-direction: column;
    align-items: center;
  }

  .question {
    padding-top: 0;
    text-align: center;
  }

  .interests {
    padding-top: 20%;
    text-align: center;
  }

  .kid {
    text-align: center;
    margin: 0;
    width: 50px;
    border: 0;
  }

}

@media only screen and (min-width: 992px) {
  /* .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .interest-btn {
    flex: 1;
  }
  /* .empty {
    width: 80px;
    height: 80px;
    background-size: 100%;
  } */ 

  .city-q {
    flex-direction: row;
    align-items: center;
  }
}
