<div class="background-image">
  <div class="container">
    <div class="question" *ngIf="show === 1">
      <p class="city">City:</p>
      <div>
        <button (click)="q1Method('d')" class="detriot-btn">
          Detroit <img src="src/assets/staycation-images/detriot.png" alt="" />
        </button>
        <button (click)="q1Method('gr')" class="detriot-btn">
          Grand Rapids
          <img src="src/assets/staycation-images/grand-rapids.png" alt="" />
        </button>
      </div>
    </div>
    <div class="question questions1" *ngIf="show === 2">
      <p class="tod">Time of Day:</p>
      <div class="timebtn">
        <button (click)="q2Method(1)">Morning</button>
        <button (click)="q2Method(2)">Afternoon</button>
        <button (click)="q2Method(3)">Night</button>
      </div>
    </div>
    <div class="question" *ngIf="show === 3">
      <p>Occasion</p>
      <div>
        <button (click)="q3Method(1)">Casual</button>
        <button (click)="q3Method(2)">Business-Casual</button>
        <button (click)="q3Method(3)">Formal</button>
      </div>
    </div>
    <div class="question" *ngIf="show === 4">
      <p>Interests</p>
      <div>
        <button (click)="q4Method('bar')" [ngClass]="{ clicked: checkInterest('bar') }">
          Bar
        </button>
        <button (click)="q4Method('sports')" [ngClass]="{ clicked: checkInterest('sports') }">
          Sports
        </button>
        <button (click)="q4Method('nightlife')" [ngClass]="{ clicked: checkInterest('nightlife') }">
          Nightlife
        </button>
        <button (click)="q4Method('creative')" [ngClass]="{ clicked: checkInterest('creative') }">
          Creative
        </button>
        <button (click)="q4Method('education')" [ngClass]="{ clicked: checkInterest('education') }">
          Education
        </button>
        <button (click)="q4Method('comedy')" [ngClass]="{ clicked: checkInterest('comedy') }">
          Comedy
        </button>
        <button (click)="q4Method('recreation')" [ngClass]="{ clicked: checkInterest('recreation') }">
          Recreation
        </button>
        <button (click)="q4Method('music')" [ngClass]="{ clicked: checkInterest('music') }">
          Music
        </button>
      </div>
      <div>
        <p>Kid friendly:</p>
        <i class="far fa-square" *ngIf="kidFriendly === 0" (click)="toggleCheck()"></i>
        <i class="far fa-check-square" *ngIf="kidFriendly === 1" (click)="toggleCheck()"></i>
      </div>
      <button (click)="submitQuiz()" [disabled]="clicked === false">
        Submit
      </button>
    </div>
  </div>
</div>
<!-- <form #quizForm="ngForm" (ngSubmit)="submit(quizForm)">
  <div id="container">
    <div class="question_selection" id="q1">
      <div class="question">
        <p><label for="city">City:</label></p>

        <label for="city">Detroit</label>
        <input type="radio" name="city" id="city" value="d" ngModel />

        <label for="city">Grand Rapids</label>
        <input type="radio" name="city" id="city" value="gr" ngModel />
      </div>
    </div>

    <div class="question_section" id="q2" style="display: none">
      <div class="question">
        <p><label for="time">Time of Day:</label></p>

        <label for="time">Morning</label>
        <input type="radio" name="time" id="time" value="1" ngModel />

        <label for="time">Afternoon</label>
        <input type="radio" name="time" id="time" value="2" ngModel />

        <label for="time">Evening</label>
        <input type="radio" name="time" id="time" value="3" ngModel />
      </div>
    </div>
 

    <div class="question_section" id="q3" style="display: none">
      <div class="question">
        <p><label for="atmosphere">Occasion:</label></p>
        <label for="atmosphere">Casual</label>
        <input type="radio" id="Casual" name="atmosphere" value="1" ngModel />
        <label for="atmosphere">Business-Casual</label>
        <input
          type="radio"
          id="Business-Casual"
          name="atmosphere"
          value="2"
          ngModel
        />
        <label for="atmosphere">Formal</label>
        <input type="radio" id="formal" name="atmosphere" value="3" ngModel />
      </div>
    </div>


    ***
    <div>
    <label for="kids">Kids</label>
    <input type="checkbox" id="kids" name="kids" value="1" ngModel />
  </div>

  ***
    <div class="question_section" id="q4" style="display: none">
      <div class="question">
        <fieldset ngModelGroup="interests">
          <input
            type="checkbox"
            id="bar"
            name="bar"
            value="bar"
            ngModel
            (click)="toggleClicked('bar')"
          />
          <label for="bar">Bar</label>

          <input
            type="checkbox"
            id="sports"
            name="sports"
            value="sports"
            ngModel
            (click)="toggleClicked('sports')"
          />
          <label for="sports">Sports</label>

          <input
            type="checkbox"
            id="nightlife"
            name="nightlife"
            value="nightlife"
            ngModel
            (click)="toggleClicked('nightlife')"
          />
          <label for="nightlife"> Nightlife </label>

          <input
            type="checkbox"
            id="creative"
            name="creative"
            value="creative"
            ngModel
            (click)="toggleClicked('creative')"
          />
          <label for="creative"> Creative</label>

          <input
            type="checkbox"
            id="education"
            name="education"
            value="education"
            ngModel
            (click)="toggleClicked('education')"
          />
          <label for="education"> Education </label>

          <input
            type="checkbox"
            id="comedy"
            name="comedy"
            value="comedy"
            ngModel
            (click)="toggleClicked('comedy')"
          />
          <label for="comedy"> Comedy</label>

          <input
            type="checkbox"
            id="recreation"
            name="recreation"
            value="recreation"
            ngModel
            (click)="toggleClicked('recreation')"
          />
          <label for="recreation"> Recreation</label>

          <input
            type="checkbox"
            id="music"
            name="music"
            value="music"
            ngModel
            (click)="toggleClicked('music')"
          />
          <label for="music"> Music</label>
        </fieldset>
        <p>
          <label for="kids">Kid Friendly</label>
          <input type="checkbox" id="kids" name="kids" value="1" ngModel />
        </p>
        <button [disabled]="clicked === false">Submit</button>
      </div>
    </div>
  </div>
</form> -->