.fave-background {
  display: flex;
  height: 100vh;
  background-size: cover;
  width: auto;
  background-image: url("src/assets/staycation-images/favorites-background.jpg");
}

.main {
  justify-content: center;
  align-items: center;
border: 1px solid black;
background-image: linear-gradient(
  rgba(252, 237, 211, 0.9),
  rgba(172, 123, 125, 0.9)
);
width: 600px;
height: 700px;
border-radius: 15px;
}

h1, p {
  text-decoration: none;
  list-style-type: none;
  color: #440000;
  text-shadow: 1px 1px #237970;
  font-size: 20px;
}

.restaurant, .activity, .bar{
  border: 3px dashed black;
}
