.fave-background {
  background: linear-gradient(rgb(252, 237, 211), rgb(172, 123, 125)) no-repeat;
  background-size: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background: linear-gradient(
    rgba(252, 237, 211, 0.4),
    rgba(172, 123, 125, 0.4)
  );
  display: flex;
  /* border: 1px solid black; */
  border-radius: 15px;
  width: 95%;
  height: 100%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 160px;
}

.fave {
  color: #440000;
  list-style-type: none;
  text-shadow: 1px 1px #237970;
  font-size: 20px;
  text-align: center;
  margin-top: -40px;
  padding: 5px;
}

.para, ul, li {
  color: #440000;
  list-style-type: none;
  text-shadow: 1px 1px #237970;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  list-style-type: none;
}

.fave-results {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid black;
  background-image: linear-gradient(
    rgba(252, 237, 211, 0.9),
    rgba(172, 123, 125, 0.9)
  );
  border-radius: 15px;
  width: 90%;
  height: 80%;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

button {
  height: 50px;
  width: 50px;
  background-image:rgba(172, 123, 125, 0.9);
  border-radius: 30px;
  font-size: 35px;
  text-align: center;
  color: #440000;
  text-shadow: 1px 1px #237970;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
  .fave-background {
    display: flex;
    background-size: 100%;
    background-size: cover;
    width: auto;
    background: url("src/assets/staycation-images/favorites-background.jpg");
    background-size: 100%;
  }
}
/* 
@media only screen and (min-width: 992 px) {
  
  .fave-background {
    display: flex;
    height: 100%;
    background-size: cover;
    width: auto;
    background: url("src/assets/staycation-images/favorites-background.jpg");
  }
  .main {
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-image: linear-gradient(
      rgba(252, 237, 211, 0.9),
      rgba(172, 123, 125, 0.9)
    );
    width: 600px;
    height: 700px;
    border-radius: 15px;
  }
  .main{
    display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  width: 45%;
  height: 75%;}
  h1,
  p {
    text-decoration: none;
    list-style-type: none;
    color: #440000;
    text-shadow: 1px 1px #237970;
    font-size: 20px;
  }
  .restaurant,
  .activity,
  .bar {
    border: 3px dashed black;
  }
} */
