<app-header></app-header>
<div class="fave-background">
  <div class="main">
    <h1 class="fave">Here are your favorites places you saved!</h1>
    <div class="fave-results">
      <div class="restaurant card" [ngClass]="{ card: favoriteRest.length > 0}">
        <ul>
          <li *ngFor="let restaurant of favoriteRest; index as i">
            <p class="para">restaurant: {{ restaurant.name }}</p>
            <p class="para">{{ restaurant.formatted_address }}</p>
            <p class="para">rating: {{ restaurant.rating }}</p>
            <button (click)="deleteRest(i)">X</button>
          </li>
        </ul>
      </div>
      <div class="activity card" [ngClass]="{ card: favoriteAct.length > 0}">
        <ul>
          <li *ngFor="let activity of favoriteAct">
            <p class="para">activity: {{ activity.name }}</p>
            <p class="para">{{ activity.formatted_address }}</p>
            <p class="para">rating: {{ activity.rating }}</p>
            <button (click)="deleteAct(i)">X</button>
          </li>
        </ul>
      </div>
      <div class="bar card" [ngClass]="{ card: favoriteDrink.length > 0}">
        <ul>
          <li *ngFor="let drink of favoriteDrink">
            <p class="para">bars and coffee: {{ drink.name }}</p>
            <p class="para">{{ drink.formatted_address }}</p>
            <p class="para">rating: {{ drink.rating }}</p>
            <button (click)="deleteDrink(i)">X</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>